/* BUTTON SHIT
 * gotta do this part
 */
.button {
    -fx-background-radius: 30px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    
}

/* TABBBBBB
 * aka why the fuck are the sizes weird
 */
.tab *.tab-label {
    -fx-rotate: 90;
    -fx-font-family: "Champagne & Limousines";
    -fx-text-fill: white;
    -fx-font-size:26;

}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #151515;
}

.tab-pane {
    -fx-background-color: linear-gradient(to bottom, #222222 50%, #50263d);
      -fx-tab-min-width:75px;
      -fx-tab-max-width:75px;
      -fx-tab-min-height:225px;
      -fx-tab-max-height:225px;
}

.tab {
    -fx-background-color: #151515;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected{
    -fx-background-color: linear-gradient(to top, #5c2a45, #151515 75%);
}

.tab:hover{
    -fx-background-color: linear-gradient(to top, #5c2a45, #151515 75%);
}