/* Will make things funky in full screen mode */
.root {
    -fx-background-color: linear-gradient(to right, #21272e 50%, #546f8a);
}

/* TEXTAERA */
.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent ;
    -fx-text-fill: white;
}

/* EVERYTHING TO DO WITH TABS */
.tab *.tab-label {
    -fx-rotate: 90;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size:26;

}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #252f3d;
    -fx-text-alignment: center;
}

.tab-pane {
    -fx-background-color: linear-gradient(to bottom, #52698a 50%, #689e88);
    -fx-tab-min-width:100px;
    -fx-tab-max-width:100px;
    -fx-tab-min-height:225px;
    -fx-tab-max-height:225px;
}

.tab {
    -fx-background-color: #252f3d;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected{
    -fx-background-color: linear-gradient(to top, #587988, #252f3d 75%);
}

.tab:hover{
    -fx-background-color: linear-gradient(to top, #587988, #252f3d 75%);
}
